#nav,
#aboutme,
#contactform,
#resume,
#work,
#about,
#table {
    color: brown;
    margin: 7px;
    background-color: rgb(119, 175, 40);
    border: 2px solid rgb(40, 141, 48);
    border-radius: 10px;
}

#nav li {
    display: inline;
    padding: 70px;
}